/* Initial cleanup
----------------------------------------------- */
/*html, body {
    padding: 0;
    margin: auto;
}
*/
/* Main structure
----------------------------------------------- */
body {
    font-family: MathJax_Main, Verdana, Helvetica, Arial, sans-serif;
    background-color: #fff;
}
.stix body {
    font-family: STIXGeneral, MathJax_Main, Verdana, Helvetica, Arial, sans-serif;
}

/* Global content control
----------------------------------------------- */
img {
    max-width: 800px;
    height: auto;
    margin: auto;
}

/* Headers
----------------------------------------------- */
.articleTitle {
    text-align: center;
    font-size: 2.0em;
    line-height: 1.2em;
}
h1 {
    font-size: 1.15em;
    font-weight: bold;
}
h2 {
    font-size: 1em;
    font-style: italic;
    text-decoration:underline;
    font-weight: normal;
}
h3 {
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
}
/* You must be doing it wrong... if you use the following headings
No one need more than 3 levels in a short article... */
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}

/* Links
----------------------------------------------- */
a { 
    text-decoration: none;
    border-bottom: 1px black dotted;
    color: #000;
}
a:hover { 
    border: 0;
}