<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Edges">
        <meta name="author" content="Chao Xu">
        <title>$htmltitle$</title>
        <link rel="stylesheet" href="/css/edge.css" />
        <script type="text/javascript">
                  var canvas = document.createElement("canvas");
                  var context = canvas.getContext("2d");
                  var text = "abcdefghijklmnopqrstuvwxyz0123456789";
                  context.font = "72px monospace";
                  var baselineSize = context.measureText(text).width;
                  context.font = "72px STIXGeneral, monospace";
                  var newSize = context.measureText(text).width;
                  delete canvas;
                  if (newSize != baselineSize) {
                    document.documentElement.className  += " stix";
                  } else {
                    var fileref=document.createElement("link");
                    fileref.setAttribute("rel", "stylesheet");
                    fileref.setAttribute("type", "text/css");
                    fileref.setAttribute("href", "/css/mathjax_fonts.css");
                    document.getElementsByTagName("head")[0].appendChild(fileref);
                  }
        </script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML,http://www.chaoxuprime.com/mathjax_conf.js">
        </script>
    </head>
    <body>
      <article>
          $body$
      </article>
    </body>
</html>
